body {
  background-image: url("https://i2-prod.mirror.co.uk/incoming/article28928969.ece/ALTERNATES/s1200d/0_Gants-Hill-Station.jpg");
  background-size: cover;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  height: 100vh;
}

.container {
  background: white;
  max-width: 80%;
  margin: auto;
  border: 3px solid black;
  border-radius: 12px;
  opacity: 0.5;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

.btn {
  background-color: hsl(223, 74%, 48%);
  color: hsl(0, 0%, 100%);
  padding: 7px 34px;
  font-size: 22px;
  cursor: pointer;
  border: 3px solid black;
  border-radius: 12px;
  transition: all 0.2s eases-in-out; 
}

.btn:hover {
  filter: brightness(60%); 
}


#increment-btn {
  background: darkred;
}

#save-btn {
  background: darkgreen;
}

#clear-btn {
  background: darkblue;
}

@media screen and (max-width: 968px) {
  h2 {
    font-size: 40px;
  }
  .btn {
    font-size: 20px;
    padding: 5px 30px;
  }
  
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 30px;
  }
  .btn {
    font-size: 18px;
    padding: 5px 20px;
  }
  
}

@media screen and (max-width: 400px) {
  h2 {
    font-size: 20px;
  }
  .btn {
    font-size: 16px;
    padding: 5px 20px;
  }
  
}